@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased scroll-smooth;
  }
  
  body {
    @apply bg-background text-neutral-100 min-h-screen;
  }

  * {
    @apply border-neutral-800;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: theme('colors.background.DEFAULT');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.neutral.700');
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.brand.500');
}


